@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&display=swap');


body {
    padding: 0;
    margin: 0;
    width: 2000px;
    height: 1080px;
    background-color: #000;
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    background-color: #f2f2f2;
}

.CD{
    position: absolute;
    top: -350px;
    left: 0px;
    width: 1080px;
    height: 1358px;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 15px 20px);
    overflow: hidden;
}

.CDrotate{
    position: absolute;
    top: 0px;
    left: -140px;
    transform-origin: 50% 50%;
    width: 1358px;
    height: 1358px;
    -webkit-mask: url(img/CD.png);
    animation: CDplay 20s infinite linear;
    animation-play-state: paused;
}

#CDImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}

.logowrap{
    position: absolute;
    bottom: 1%;
    left: 0%;
    width: 100%;
    height: 540px;
    overflow: hidden;
}

#logoImg{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1);
}

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: #000;
    -webkit-mask-image: linear-gradient(to bottom,#ffffff,#ffffff00);
}

.wave{
    position: absolute;
    top: 1350px;
    left: 90px;
    width: 900px;
    height: 255px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#canvas{
    position: absolute;
    left: -8075px;
}

.wave div{
    width: 100%;
    height: 5px;
    z-index: 1;
    background-color: #f2f2f2;
}

.audio_progress{
    position: absolute;
    top: 1620px;
    left: 8%;
    width: 84%;
    height: 70px;
    pointer-events: none;
}

#progress_bg{
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: rgb(201, 201, 201);
    overflow: hidden;
}

.progress_dotBox{
    position: absolute;
    top: 13.5px;
    width: calc(100% - 43px);
    height: 43px;
}

#progress_dot{
    position: absolute;
    top: 0px;
    left: 0%;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    background-color: #000;
}

#progress_bar{
    position: absolute;
    top: -5px;
    left: -100%;
    margin: 0;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    background-color: #000;
}


.fakemenu{
    position: absolute;
    top: 66px;
    left: 70px;
    width: 84px;
    height: 10px;
    background-color: #fff;
}

.fakemenu::before,.fakemenu::after{
    position: absolute;
    content: '';
    top: 30px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #fff;
}

.fakemenu::after{
    top: 60px;
}


.singerName_wrap{
    position: absolute;
    top: 1126px;
    left: 15%;
    width: 70%;
    height: 70px;
    overflow: hidden;
}

.singerName{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: #c9c9c9;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    z-index: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    animation: marquee_singerName infinite linear alternate;
    animation-duration: 5s;
    animation-play-state: paused;
}

.musicName_wrap{
    position: absolute;
    top: 1195px;
    left: 2.5%;
    width: 95%;
    height: 130px;
    overflow: hidden;
}

.musicName{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: #000;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 300;
    z-index: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    animation: marquee_musicName infinite linear alternate;
    animation-duration: 5s;
    animation-play-state: paused;
}

.control_panel{
    position: absolute;
    top: 5px;
    left: 1100px;
    width: 600px;
    height: 1915px;
    /* overflow-x: hidden; */
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label{
    font-size: 40px;
    color: #fff;
    width: 540px;
    height: 150px;
    background-image: linear-gradient(to left top ,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    border: #fff 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    border-radius: 20px;
    margin: 10px 0;
}

label input{
    width: 100%;
}

#singerName,#musicName,#uploadImg,#uploadMusic,#uploadLogo,#uploadColor{
    z-index: 100;
    font-size: 40px;
}

.uploadImg{
    height: 250px;
}

.uploadLogo{
    height: 500px;
}

input[type="range"]{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:10px;
    height:30px;
    background:rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: #494949 1px 1px 5px;
    cursor: pointer;
    margin: 0;
}

.uploadLogo > input[type="range"]{
    margin-bottom: 10px;
}

.radio{
    display: flex;
    margin-top: 5px;
}

.radio label{
    background: transparent;
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.radio label input{
    width: 30px;
    height: 30px;
}

.audio_control{
    width: 540px;
    height: 400px;
    background-image: linear-gradient(to left top ,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    border: #fff 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 30px;
    border-radius: 20px;
    margin: 10px 0;
}

.audio_control > p{
    color: #fff;
    font-size: 50px;
    padding: 0;
    margin: 30px 0;
    margin-right: 10px;
}

#audioVolume[type="range"]{
    width: 79%;
    margin: 60px 0;
}

#playBtn,#pauseBtn{
    width: 49%;
    height: 70px;
    font-size: 40px;
    cursor: pointer;
    border: none;
}

#playBtn{
    margin-right: 10px;
}

audio {
    width: 100%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display{
    display: none;
}

@keyframes CDplay{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}